@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

body {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  height: 100vh;
  background-color: #fff;
  font-family: "Manrope", sans-serif;
}
